	<template name="Company">
		<div class="row" id="content">
			<div class="page-header">
				<h1>
					Company: {{name}}
					<div class="pull-right">
						{{#if isAdmin}}
							<button type="button" id="edit-button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
						{{/if}}
						<button type="button" id="visualize-button" class="btn btn-warning"><span class="glyphicon glyphicon-eye-open"></span> Visualize</button>
						<a href="{{pathFor 'companies'}}" class="btn btn-default" style="border-color: transparent; color: silver" title="Close"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
				</h1>
			</div>

			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{name}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Creation date</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{creationDate}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Address</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{address}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Status</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{status}}</p>
					</div>
				</div>
			</form>
		</div>
		<div class="row" id="menu">
			{{> CompanySubMenu}}
		</div>
		<div class="row" id="subcontent">
			{{> yield region='CompanySubcontent'}}
		</div>
	</template>

	<template name="CompanySubMenu">
		<ul id="menu" class="nav nav-tabs">
			<li id="menu-item" class="{{menuItemClass 'company.persons'}}">
				<a href="{{pathFor 'company.persons'}}">
					Employees
				</a>
			</li>
			<li id="menu-item" class="{{menuItemClass 'company.shares'}}">
				<a href="{{pathFor 'company.shares'}}">
					Shareholders
				</a>
			</li>
		</ul>
	</template>

